.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonnew {
    background-color: white;
    color: grey;
    border: 2px solid #e7e7e7;
    min-width: 150px;
}

.buttonnew:hover {
    background-color: #e7e7e7;
    color: black;
}

.button1 {
    background-color: white;
    color: grey;
    border: 2px solid #e7e7e7;
}

.button1:hover {
    background-color: #e7e7e7;
    color: black;
}

.blog-content {
    color: black;
    padding-top: 40px;
    font-size: 1.2rem;
}

.heading {
    font-size: 4rem;
    font-weight: bold;
    text-align: left;
}

.head {
    font-weight: bold;
    font-size: 1.5rem;
}

.cat-item {
    font-size: 1.1rem;
    color: grey;
    font-weight: bold;
}

.cat-item:hover {
    color: black;
    font-weight: bold;
}

li {
    color: gray;
}