{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block body %}
<!---->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'products:product_list' %}">Bazar</a>
    </li>
    <li class="breadcrumb-item active">{{product.name}}</li>
</ol>
<!---->
<section class="ab-info-main py-md-5 py-4">
    <div class="pad">
        <!-- top Products -->
        <div class="row">
            <!-- product left -->
            <div class="col-lg-4">

                <div class="search-bar w3layouts-newsletter">
                    <h3 class="sear-head">Search Here..</h3>
                    <form action="{% url 'products:product_list' %}" method="GET" class="d-flex">
                        <input type="text" placeholder="Search by name,category,vendor" name="q" class="form-control"
                            value="{{request.GET.q}}">
                        <button class="btn1"><span class="fa fa-search" aria-hidden="true"></span></button>
                    </form>
                </div>
                <!--preference -->
                <div class="left-side my-4">
                    <h3 class="sear-head">Categories</h3>
                    <ul class="w3layouts-box-list">
                        <li>
                            <a class="button buttonnew" href="{% url 'products:product_list' %}">All</a>
                        </li>
                    </ul>
                    {% for cat in categories %}
                    <ul class="w3layouts-box-list">
                        <li>
                            <a class="button buttonnew" href="{% url 'products:product_by_category' cat %}">{{cat}}</a>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
                <!-- // preference -->
            </div>
            <!-- //product left -->
            <div class="left-ads-display col-lg-8">
                                <div class="row">
                                    <div>
                                        <img src="{{ product.product_pic.url }}" class="border-1 image-adjust" alt="">
                                    </div>
                                    <div class="desc1-right col-md-6 pl-lg-4">
                                        <h2 class="name">Vendor - {{product.vendor}}</h2>
                                        <h5>₹ {{ product.price }}</h5>
                                        {% if product.category.name in "MachinesTools" %}
                                           <h5>Quantity: {{ product.quantity }} units</h5>                                           
                                           {% else %}
                                           <h5>Quantity: {{ product.quantity }} Kg</h5>
                                        {% endif %}
                                        <div class="available mt-3">
                                            {% if request.user.is_authenticated %}
                                               <span><a class="button button1" href="{% url 'dashboard:show_detail' product.id %}" style="text-decoration: none; font-weight:bold; width:70%;">See vendor details </a></span>
                                            {% else %}
                                               <span class="button buttonnew"><a href="{% url 'dashboard:show_detail' product.id %}">Login to see vendor details </a></span>
                                            {% endif %}
                                            <!-- <p>Lorem Ipsum has been the industry's standard since the 1500s. Praesent ullamcorper dui turpis.. </p> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- Comments -->
                                <div class="pt-5 mt-5">
                                    <h3 class="mb-5">Comments</h3>
                                    <ul class="comment-list">
                                        {% for comment in comments %}
                                        <li class="comment">
                                            <div class="comment-body">
                                                <h3>{{comment.author}}</h3>
                                                <div class="meta">{{comment.created}}</div>
                                                <p> {{comment.content}}</p>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <!-- END comment-list -->
                                
                                    <div class="comment-form-wrap pt-5">
                                        <h3 class="mb-5">Leave a comment</h3>
                                        <form action="" method="POST" class="p-5 bg-light">
                                            {% csrf_token %}
                                            {% bootstrap_form comment_form %}
                                            {% buttons %}
                                               <button type="submit" class="btn btn-primary">Leave A Comment</button>
                                            {% endbuttons %}
                                        </form>
                                    </div>
                                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}