{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Krishi Vikas</title>
        <link rel="icon" type="image/png" href="{% static 'site_static/images/KrishiVikas_Logo.png' %}">
        <meta charset="UTF-8">
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Custom-Files -->
    <link rel="stylesheet" href="{% static 'site_static/css/bootstrap.css' %}">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="{% static 'site_static/css/style.css' %}" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="{% static 'site_static/css/font-awesome.css' %}" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="{% static 'site_static/css/blog.css' %}" rel="stylesheet">
    <link href="{% static 'site_static/css/blist.css' %}" rel="stylesheet">
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900"
        rel="stylesheet">
    <!-- //Fonts -->

    </head>
    <body>
    <!-- mian-content -->
    <div class="main-banner inner" id="home">
        <!-- header -->
        <header class="header">
            <div class="container-fluid px-lg-5">
                <!-- nav -->
                <nav class="py-4">
                    <div id="logo">
                        <h1>
                            <a href="{% url 'home:home' %}">KRISHI VIKAS</a>
                        </h1>
                    </div>
    
                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu mt-2">
                        <li><a href="{% url 'home:home' %}">Home</a></li>
                        <li><a href="{% url 'aboutus:aboutus_list' %}">About</a></li>
                        <li><a href="{% url 'blog:post_list' %}">Blog</a></li>
                        <li>
                            <a href="{% url 'products:product_list' %}">Bazar</a>
                        </li>
                        <li><a href="{% url 'contact:send_email' %}">Contact</a></li>
                        {% if request.user.is_authenticated %}
                        <li style="color: white; font-weight: bold; text-transform: uppercase; font-weight: 600;
    font-size: 1em;
    letter-spacing: 2px;">Hello, {{request.user.username}}</li>
                        <li><a href="{% url 'accounts:account' %}">Settings</a></li>
                        <li><span><a class="hello-msg" href="{% url 'accounts:logout' %}">Logout</a></span></li>
                        {% else %}
                        <li><a href="{% url 'accounts:login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <!-- //nav -->
            </div>
        </header>
        <!-- //header -->
    
    </div>
    <!--//main-content-->
            <!--/ab -->
    {% block body %}
    {% endblock body %}

    <footer class="footer text-center">
        <img class="footer-logo" src="{% static 'site_static/images/KrishiVikas_Logo.png' %}" alt="">
        <p class="footer-text">© 2020 Exclusive. All rights reserved | Designed by <a class="footer-link"
                href="/">AlphaTrojan</a></p>
    
    </footer>
    </body>
</html>